@import "variables";

.pull-left { float: left; }
.pull-right { float: right; }
.center { margin: 0 auto; }
.clear { clear: both; }


.wrapper {
  width: $layoutWidth;
  margin-top: 30px;
}

.content {
  width: $layoutWidth;
  min-height: 200px;
}

.post {
  width: $layoutWidth;
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  border-bottom: 1px dotted #7abac2;
}

.post-header {
  margin: 0 0 10px 0;
}

.title {
  margin: 0 0 5px 0;
  color: $colorTitle;
  font: {
    size: 40px;
  }
}

.social {
  width: 200px;
  margin: 30px 0 0 0;
}

.social div {
  width: 200px;
  height: 20px;
  margin: 0 20px 10px 0;
}

.archive {
  font: {
    size: 25px;
  }
}
