@import "compass/css3/border-radius";
@import "solarized-dark";
@import "class";
@import "fonts";

::selection {
    background: $colorBg;
}
::-webkit-selection {
    background: $colorBg;
}
::-moz-selection {
    background: $colorBg;
}
body {
  background: $colorBg;
  color: $colorDefault;
  font: {
    family: $fontDefault;
  }

  a, &:visited {
    text-decoration: none;
    color: $colorTitle;
    font: {
      family: $fontDefault;
    }
    &:hover {
      color: $colorHover;
    }
  }
  h2 {
    margin: 0 0 20px 0;
    font: {
      size: 30px;
    }
  }

  header {
    width: $layoutWidth;
    min-height: 80px;
    margin: 0 0 50px 0;
    section {
      width: 215px;
      height: 72px;
      line-height: 80px;
      font: {
        family: $fontDefaultBold;
        size: 70px;
      }
      h1 {
        background: url(../images/logo-red.png) right no-repeat;
        span {
          display: inline-block;
          height: 72px;
        }
      }
    }
    nav {
      ul {
          line-height: 80px;
        li {
          display: inline;
          a, &:visited {
            padding: 10px 20px;
            color: $colorTitle;
            @include border-radius;
            font: {
              size: 22px;
              weight: bold;
            }
            -webkit-transition: all 1s;
               -moz-transition: all 1s;
                 -o-transition: all 1s;
                    transition: all 1s;
            transition: all 1s ease-in-out;
            &:hover {
              color: $colorBg;
              background: $colorDefault;
            }
          }
        }
      }
    }
  }
  section {
    article{
      h3 {
        margin-bottom: 15px;
        font: {
          size: 22px;
          weight: bold;
        }
      }
      table {
        font: {
          size: 20px;
        }
        td {
          padding: 5px;
        }
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 15px;
        text-indent: 40px;
        line-height: 27px;
        font: {
          size: 20px;
        }
      }
      a {
        color: $colorTitle;
        &:hover {
          color: $colorHover;
        }
      }
      header {
        time {
          font: {
            size: 20px;
          }
        }
      }
    }
  }
  #about {
    margin: 0 0 10px 0;
    figure {
      margin: 0 30px 10px 0;
      @include border-radius(80px);
      img {
        border: 5px #fff solid;
      }
    }
    div {
      p {
        line-height: 35px;
        font: {
          size: 30px;
        }
      }
    }
  }
}
@import "embed";

