$fontDefault: PTSansNarrow;
$fontDefaultBold: PTSansNarrowBold;

$layoutWidth: 960px;

$colorBg: #FDF6E3;
$colorDefault: #191919;
$colorLogo: #191919;
$colorTitle: #BF322F;
$colorLinks: #4f797e;
$colorHover: #DBD5AA;

/*$colorBg: #93e1ec;*/
/*$colorDefault: #335458;*/
/*$colorLogo: #518086;*/
/*$colorTitle: #333333;*/
/*$colorLinks: #4f797e;*/
$default-border-radius: 5px;
