/* line 20, ../../sass/solarized-dark.scss */
code {
  font-family: 'Bitstream Vera Sans Mono', Menlo, Monaco,"Andale Mono","lucida console","Courier";
  font-size: 12px;
}

/* line 26, ../../sass/solarized-dark.scss */
.lineno {
  margin: 0 5px 0 0;
  padding-right: 5px;
  border-right: 1px solid #2aa198;
}

/* line 34, ../../sass/solarized-dark.scss */
.highlight {
  color: #839496 !important;
  background: #002b36 url(../images/noise.png) !important;
  margin: 10px 0 10px 0;
  padding: 10px 5px;
  /* Keyword */
}
/* line 41, ../../sass/solarized-dark.scss */
.highlight .err {
  color: #dc322f !important;
  background-color: #073642 !important;
}
/* line 47, ../../sass/solarized-dark.scss */
.highlight .cp {
  color: #586e75 !important;
  font-weight: bold           !important;
}
/* line 53, ../../sass/solarized-dark.scss */
.highlight .cs {
  color: #586e75 !important;
  font-weight: bold           !important;
  font-style: italic         !important;
}
/* line 60, ../../sass/solarized-dark.scss */
.highlight .gd {
  color: #839496 !important;
  background-color: #fdd      !important;
}
/* line 66, ../../sass/solarized-dark.scss */
.highlight .gd .x {
  background-color: #faa       !important;
}
/* line 71, ../../sass/solarized-dark.scss */
.highlight .ge {
  font-style: italic           !important;
}
/* line 76, ../../sass/solarized-dark.scss */
.highlight .gi {
  background-color: #dfd       !important;
}
/* line 81, ../../sass/solarized-dark.scss */
.highlight .gi .x {
  background-color: #afa       !important;
}
/* line 86, ../../sass/solarized-dark.scss */
.highlight .go {
  color: #839496 !important;
}
/* line 91, ../../sass/solarized-dark.scss */
.highlight .gu {
  color: #d33682 !important;
  font-weight: bold           !important;
}
/* line 97, ../../sass/solarized-dark.scss */
.highlight .gs {
  font-weight: bold            !important;
}
/* line 102, ../../sass/solarized-dark.scss */
.highlight .gr, .highlight .gt {
  color: #d33682 !important;
}
/* line 107, ../../sass/solarized-dark.scss */
.highlight .gh {
  color: #586e75 !important;
}
/* line 112, ../../sass/solarized-dark.scss */
.highlight .gp {
  color: #586e75 !important;
}
/* line 117, ../../sass/solarized-dark.scss */
.highlight .nb {
  color: #859900 !important;
}
/* line 122, ../../sass/solarized-dark.scss */
.highlight .ni {
  color: #d33682 !important;
}
/* line 127, ../../sass/solarized-dark.scss */
.highlight .nt {
  color: #268bd2 !important;
}
/* line 132, ../../sass/solarized-dark.scss */
.highlight .w {
  color: #586e75 !important;
}
/* line 137, ../../sass/solarized-dark.scss */
.highlight .sr {
  color: #859900 !important;
}
/* line 142, ../../sass/solarized-dark.scss */
.highlight .ss {
  color: #2aa198 !important;
}
/* line 147, ../../sass/solarized-dark.scss */
.highlight .c, .highlight .cm, .highlight .c1 {
  color: #586e75 !important;
  font-style: italic            !important;
}
/* line 153, ../../sass/solarized-dark.scss */
.highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .o, .highlight .ow {
  font-weight: bold            !important;
}
/* line 156, ../../sass/solarized-dark.scss */
.highlight .k {
  color: #CB4B16 !important;
  font-weight: bold;
}
/* line 159, ../../sass/solarized-dark.scss */
.highlight .kt {
  color: #b58900 !important;
}
/* line 164, ../../sass/solarized-dark.scss */
.highlight .bp {
  color: #93a1a1 !important;
}
/* line 169, ../../sass/solarized-dark.scss */
.highlight .nn {
  color: #93a1a1 !important;
}
/* line 174, ../../sass/solarized-dark.scss */
.highlight .nc {
  color: #b58900 !important;
  font-weight: bold           !important;
}
/* line 180, ../../sass/solarized-dark.scss */
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
  color: #2aa198 !important;
}
/* line 185, ../../sass/solarized-dark.scss */
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s1 {
  color: #2aa198 !important;
}
/* line 190, ../../sass/solarized-dark.scss */
.highlight .na, .highlight .nv {
  color: #2aa198 !important;
}
/* line 195, ../../sass/solarized-dark.scss */
.highlight .no {
  color: #b58900 !important;
}
/* line 200, ../../sass/solarized-dark.scss */
.highlight .vc, .highlight .vg, .highlight .vi {
  color: #268bd2 !important;
}
/* line 206, ../../sass/solarized-dark.scss */
.highlight .ne,
.highlight .nf {
  color: #dc322f !important;
  font-weight: bold           !important;
}
