/* line 1, ../../sass/embed.scss */
.gist {
  color: #000;
}
/* line 3, ../../sass/embed.scss */
.gist div {
  padding: 0;
  margin: 0;
}
/* line 9, ../../sass/embed.scss */
.gist .gist-file .gist-data .gist-line-numbers {
  background: #002B36 !important;
  color: #aaa;
  border-right: 1px solid #ddd;
  text-align: right;
}
/* line 14, ../../sass/embed.scss */
.gist .gist-file .gist-data .gist-line-numbers span {
  clear: right;
  display: block;
}

/* line 23, ../../sass/embed.scss */
.gist-highlight {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier
      New", monospace !important;
  font-size: 12px;
  border-left: 3ex solid #002B36;
  position: relative;
}
/* line 31, ../../sass/embed.scss */
.gist-highlight pre {
  counter-reset: linenumbers;
}
/* line 33, ../../sass/embed.scss */
.gist-highlight pre div:before {
  background: #002B36 !important;
  margin: 0 10px 0 0;
  color: #aaa;
  content: counter(linenumbers);
  counter-increment: linenumbers;
  left: -3ex;
  position: absolute;
  text-align: right;
  width: 2.5ex;
}

/* line 48, ../../sass/embed.scss */
.gist-syntax {
  background: #002b36 url(../images/noise.png) !important;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Deleted.Specific */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Inserted.Specific */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
/* line 50, ../../sass/embed.scss */
.gist-syntax .c {
  color: #999988;
  font-style: italic;
}
/* line 51, ../../sass/embed.scss */
.gist-syntax .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* line 52, ../../sass/embed.scss */
.gist-syntax .k {
  color: #CB4B16 !important;
  font-weight: bold;
}
/* line 53, ../../sass/embed.scss */
.gist-syntax .o {
  color: #93A1A1 !important;
  font-weight: bold;
}
/* line 54, ../../sass/embed.scss */
.gist-syntax .cm {
  color: #999988;
  font-style: italic;
}
/* line 55, ../../sass/embed.scss */
.gist-syntax .cp {
  color: #999999;
  font-weight: bold;
}
/* line 56, ../../sass/embed.scss */
.gist-syntax .c1 {
  color: #586E75 !important;
  font-style: italic;
}
/* line 57, ../../sass/embed.scss */
.gist-syntax .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* line 58, ../../sass/embed.scss */
.gist-syntax .gd {
  color: #000000;
  background-color: #ffdddd;
}
/* line 59, ../../sass/embed.scss */
.gist-syntax .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
/* line 60, ../../sass/embed.scss */
.gist-syntax .ge {
  color: #000000;
  font-style: italic;
}
/* line 61, ../../sass/embed.scss */
.gist-syntax .gr {
  color: #aa0000;
}
/* line 62, ../../sass/embed.scss */
.gist-syntax .gh {
  color: #999999;
}
/* line 63, ../../sass/embed.scss */
.gist-syntax .gi {
  color: #000000;
  background-color: #ddffdd;
}
/* line 64, ../../sass/embed.scss */
.gist-syntax .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
/* line 65, ../../sass/embed.scss */
.gist-syntax .go {
  color: #888888;
}
/* line 66, ../../sass/embed.scss */
.gist-syntax .gp {
  color: #555555;
}
/* line 67, ../../sass/embed.scss */
.gist-syntax .gs {
  font-weight: bold;
}
/* line 68, ../../sass/embed.scss */
.gist-syntax .gu {
  color: #aaaaaa;
}
/* line 69, ../../sass/embed.scss */
.gist-syntax .gt {
  color: #aa0000;
}
/* line 70, ../../sass/embed.scss */
.gist-syntax .kc {
  color: #000000;
  font-weight: bold;
}
/* line 71, ../../sass/embed.scss */
.gist-syntax .kd {
  color: #000000;
  font-weight: bold;
}
/* line 72, ../../sass/embed.scss */
.gist-syntax .kp {
  color: #CB4B16 !important;
  font-weight: bold;
}
/* line 73, ../../sass/embed.scss */
.gist-syntax .kr {
  color: #000000;
  font-weight: bold;
}
/* line 74, ../../sass/embed.scss */
.gist-syntax .kt {
  color: #445588;
  font-weight: bold;
}
/* line 75, ../../sass/embed.scss */
.gist-syntax .m {
  color: #009999;
}
/* line 76, ../../sass/embed.scss */
.gist-syntax .s {
  color: #d14;
}
/* line 77, ../../sass/embed.scss */
.gist-syntax .n {
  color: #268BD2 !important;
}
/* line 78, ../../sass/embed.scss */
.gist-syntax .na {
  color: #008080;
}
/* line 79, ../../sass/embed.scss */
.gist-syntax .nb {
  color: #859900 !important;
}
/* line 80, ../../sass/embed.scss */
.gist-syntax .nc {
  color: #D33682 !important;
  font-weight: bold;
}
/* line 81, ../../sass/embed.scss */
.gist-syntax .no {
  color: #B58900 !important;
}
/* line 82, ../../sass/embed.scss */
.gist-syntax .ni {
  color: #800080;
}
/* line 83, ../../sass/embed.scss */
.gist-syntax .ne {
  color: #990000;
  font-weight: bold;
}
/* line 84, ../../sass/embed.scss */
.gist-syntax .nf {
  color: #268BD2 !important;
  font-weight: bold;
}
/* line 85, ../../sass/embed.scss */
.gist-syntax .nn {
  color: #555555;
}
/* line 86, ../../sass/embed.scss */
.gist-syntax .nt {
  color: #000080;
}
/* line 87, ../../sass/embed.scss */
.gist-syntax .nv {
  color: #008080;
}
/* line 88, ../../sass/embed.scss */
.gist-syntax .ow {
  color: #000000;
  font-weight: bold;
}
/* line 89, ../../sass/embed.scss */
.gist-syntax .w {
  color: #bbbbbb;
}
/* line 90, ../../sass/embed.scss */
.gist-syntax .mf {
  color: #009999;
}
/* line 91, ../../sass/embed.scss */
.gist-syntax .mh {
  color: #009999;
}
/* line 92, ../../sass/embed.scss */
.gist-syntax .mi {
  color: #009999;
}
/* line 93, ../../sass/embed.scss */
.gist-syntax .mo {
  color: #009999;
}
/* line 94, ../../sass/embed.scss */
.gist-syntax .sb {
  color: #2AA198 !important;
}
/* line 95, ../../sass/embed.scss */
.gist-syntax .sc {
  color: #2AA198 !important;
}
/* line 96, ../../sass/embed.scss */
.gist-syntax .sd {
  color: #2AA198 !important;
}
/* line 97, ../../sass/embed.scss */
.gist-syntax .s2 {
  color: #2AA198 !important;
}
/* line 98, ../../sass/embed.scss */
.gist-syntax .se {
  color: #2AA198 !important;
}
/* line 99, ../../sass/embed.scss */
.gist-syntax .sh {
  color: #2AA198 !important;
}
/* line 100, ../../sass/embed.scss */
.gist-syntax .si {
  color: #2AA198 !important;
}
/* line 101, ../../sass/embed.scss */
.gist-syntax .sx {
  color: #2AA198 !important;
}
/* line 102, ../../sass/embed.scss */
.gist-syntax .sr {
  color: #009926;
}
/* line 103, ../../sass/embed.scss */
.gist-syntax .s1 {
  color: #2AA198 !important;
}
/* line 104, ../../sass/embed.scss */
.gist-syntax .ss {
  color: #2AA198 !important;
}
/* line 105, ../../sass/embed.scss */
.gist-syntax .bp {
  color: #999999;
}
/* line 106, ../../sass/embed.scss */
.gist-syntax .vc {
  color: #008080;
}
/* line 107, ../../sass/embed.scss */
.gist-syntax .vg {
  color: #008080;
}
/* line 108, ../../sass/embed.scss */
.gist-syntax .vi {
  color: #008080;
}
/* line 109, ../../sass/embed.scss */
.gist-syntax .il {
  color: #009999;
}
