/* line 20, ../../sass/solarized-dark.scss */
code {
  font-family: 'Bitstream Vera Sans Mono','Courier', monospace;
}

/* line 23, ../../sass/solarized-dark.scss */
.lineno {
  margin: 0 5px 0 0;
  padding-right: 5px;
  border-right: 1px solid #2aa198;
}

/* line 31, ../../sass/solarized-dark.scss */
.highlight {
  color: #839496 !important;
  background-color: #002b36 !important;
  margin: 10px 0 10px 0;
  padding: 10px 5px;
}
/* line 38, ../../sass/solarized-dark.scss */
.highlight .err {
  color: #dc322f !important;
  background-color: #073642 !important;
}
/* line 44, ../../sass/solarized-dark.scss */
.highlight .cp {
  color: #586e75 !important;
  font-weight: bold           !important;
}
/* line 50, ../../sass/solarized-dark.scss */
.highlight .cs {
  color: #586e75 !important;
  font-weight: bold           !important;
  font-style: italic         !important;
}
/* line 57, ../../sass/solarized-dark.scss */
.highlight .gd {
  color: #839496 !important;
  background-color: #fdd      !important;
}
/* line 63, ../../sass/solarized-dark.scss */
.highlight .gd .x {
  background-color: #faa       !important;
}
/* line 68, ../../sass/solarized-dark.scss */
.highlight .ge {
  font-style: italic           !important;
}
/* line 73, ../../sass/solarized-dark.scss */
.highlight .gi {
  background-color: #dfd       !important;
}
/* line 78, ../../sass/solarized-dark.scss */
.highlight .gi .x {
  background-color: #afa       !important;
}
/* line 83, ../../sass/solarized-dark.scss */
.highlight .go {
  color: #839496 !important;
}
/* line 88, ../../sass/solarized-dark.scss */
.highlight .gu {
  color: #d33682 !important;
  font-weight: bold           !important;
}
/* line 94, ../../sass/solarized-dark.scss */
.highlight .gs {
  font-weight: bold            !important;
}
/* line 99, ../../sass/solarized-dark.scss */
.highlight .gr, .highlight .gt {
  color: #d33682 !important;
}
/* line 104, ../../sass/solarized-dark.scss */
.highlight .gh {
  color: #586e75 !important;
}
/* line 109, ../../sass/solarized-dark.scss */
.highlight .gp {
  color: #586e75 !important;
}
/* line 114, ../../sass/solarized-dark.scss */
.highlight .nb {
  color: #859900 !important;
}
/* line 119, ../../sass/solarized-dark.scss */
.highlight .ni {
  color: #d33682 !important;
}
/* line 124, ../../sass/solarized-dark.scss */
.highlight .nt {
  color: #268bd2 !important;
}
/* line 129, ../../sass/solarized-dark.scss */
.highlight .w {
  color: #586e75 !important;
}
/* line 134, ../../sass/solarized-dark.scss */
.highlight .sr {
  color: #859900 !important;
}
/* line 139, ../../sass/solarized-dark.scss */
.highlight .ss {
  color: #2aa198 !important;
}
/* line 144, ../../sass/solarized-dark.scss */
.highlight .c, .highlight .cm, .highlight .c1 {
  color: #586e75 !important;
  font-style: italic            !important;
}
/* line 150, ../../sass/solarized-dark.scss */
.highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .o, .highlight .ow {
  font-weight: bold            !important;
}
/* line 154, ../../sass/solarized-dark.scss */
.highlight .k {
  color: #859900 !important;
}
/* line 159, ../../sass/solarized-dark.scss */
.highlight .kt {
  color: #b58900 !important;
}
/* line 164, ../../sass/solarized-dark.scss */
.highlight .bp {
  color: #93a1a1 !important;
}
/* line 169, ../../sass/solarized-dark.scss */
.highlight .nn {
  color: #93a1a1 !important;
}
/* line 174, ../../sass/solarized-dark.scss */
.highlight .nc {
  color: #b58900 !important;
  font-weight: bold           !important;
}
/* line 180, ../../sass/solarized-dark.scss */
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
  color: #2aa198 !important;
}
/* line 185, ../../sass/solarized-dark.scss */
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s1 {
  color: #2aa198 !important;
}
/* line 190, ../../sass/solarized-dark.scss */
.highlight .na, .highlight .nv {
  color: #2aa198 !important;
}
/* line 195, ../../sass/solarized-dark.scss */
.highlight .no {
  color: #b58900 !important;
}
/* line 200, ../../sass/solarized-dark.scss */
.highlight .vc, .highlight .vg, .highlight .vi {
  color: #268bd2 !important;
}
/* line 206, ../../sass/solarized-dark.scss */
.highlight .ne,
.highlight .nf {
  color: #dc322f !important;
  font-weight: bold           !important;
}
