/* line 18, ../../sass/solarized.scss */
code {
  font-family: 'Bitstream Vera Sans Mono','Courier', monospace;
}

/* line 21, ../../sass/solarized.scss */
.lineno {
  margin: 0 5px 0 0;
}

/* line 25, ../../sass/solarized.scss */
.highlight {
  color: #657b83 !important;
  background-color: #fdf6e3 !important;
  margin: 10px 0 10px 0;
  padding: 10px 5px;
}
/* line 32, ../../sass/solarized.scss */
.highlight .err {
  color: #dc322f !important;
  background-color: #eee8d5 !important;
}
/* line 38, ../../sass/solarized.scss */
.highlight .cp {
  color: #93a1a1 !important;
  font-weight: bold            !important;
}
/* line 44, ../../sass/solarized.scss */
.highlight .cs {
  color: #93a1a1 !important;
  font-weight: bold            !important;
  font-style: italic          !important;
}
/* line 51, ../../sass/solarized.scss */
.highlight .gd {
  background-color: #fdd        !important;
}
/* line 56, ../../sass/solarized.scss */
.highlight .gd .x {
  background-color: #faa        !important;
}
/* line 61, ../../sass/solarized.scss */
.highlight .ge {
  font-style: italic            !important;
}
/* line 66, ../../sass/solarized.scss */
.highlight .gi {
  background-color: #dfd        !important;
}
/* line 71, ../../sass/solarized.scss */
.highlight .gi .x {
  background-color: #afa        !important;
}
/* line 76, ../../sass/solarized.scss */
.highlight .go {
  color: #657b83 !important;
}
/* line 81, ../../sass/solarized.scss */
.highlight .gu {
  color: #d33682 !important;
  font-weight: bold            !important;
}
/* line 87, ../../sass/solarized.scss */
.highlight .gs {
  font-weight: bold             !important;
}
/* line 92, ../../sass/solarized.scss */
.highlight .gr, .highlight .gt {
  color: #d33682 !important;
}
/* line 97, ../../sass/solarized.scss */
.highlight .gh {
  color: #93a1a1 !important;
}
/* line 102, ../../sass/solarized.scss */
.highlight .gp {
  color: #93a1a1 !important;
}
/* line 107, ../../sass/solarized.scss */
.highlight .nb {
  color: #859900 !important;
}
/* line 112, ../../sass/solarized.scss */
.highlight .ni {
  color: #d33682 !important;
}
/* line 117, ../../sass/solarized.scss */
.highlight .nt {
  color: #268bd2 !important;
}
/* line 122, ../../sass/solarized.scss */
.highlight .w {
  color: #93a1a1 !important;
}
/* line 127, ../../sass/solarized.scss */
.highlight .sr {
  color: #859900 !important;
}
/* line 132, ../../sass/solarized.scss */
.highlight .ss {
  color: #2aa198 !important;
}
/* line 137, ../../sass/solarized.scss */
.highlight .c, .highlight .cm, .highlight .c1 {
  color: #93a1a1 !important;
  font-style: italic           !important;
}
/* line 143, ../../sass/solarized.scss */
.highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .o, .highlight .ow {
  font-weight: bold             !important;
}
/* line 147, ../../sass/solarized.scss */
.highlight .k {
  color: #859900 !important;
}
/* line 152, ../../sass/solarized.scss */
.highlight .kt {
  color: #b58900 !important;
}
/* line 157, ../../sass/solarized.scss */
.highlight .bp {
  color: #586e75 !important;
}
/* line 162, ../../sass/solarized.scss */
.highlight .nn {
  color: #586e75 !important;
}
/* line 167, ../../sass/solarized.scss */
.highlight .nc {
  color: #b58900 !important;
  font-weight: bold            !important;
}
/* line 173, ../../sass/solarized.scss */
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
  color: #2aa198 !important;
}
/* line 178, ../../sass/solarized.scss */
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s1 {
  color: #2aa198 !important;
}
/* line 183, ../../sass/solarized.scss */
.highlight .na, .highlight .nv {
  color: #2aa198 !important;
}
/* line 188, ../../sass/solarized.scss */
.highlight .no {
  color: #b58900 !important;
}
/* line 193, ../../sass/solarized.scss */
.highlight .vc, .highlight .vg, .highlight .vi {
  color: #268bd2 !important;
}
/* line 199, ../../sass/solarized.scss */
.highlight .ne,
.highlight .nf {
  color: #dc322f !important;
  font-weight: bold            !important;
}
