/* line 20, ../../sass/solarized-dark.scss */
code {
  font-family: 'Bitstream Vera Sans Mono','Courier', monospace;
}

/* line 23, ../../sass/solarized-dark.scss */
.lineno {
  margin: 0 5px 0 0;
  padding-right: 5px;
  border-right: 1px solid #2aa198;
}

/* line 31, ../../sass/solarized-dark.scss */
.highlight {
  color: #839496 !important;
  background-color: #002b36 !important;
  margin: 10px 0 10px 0;
  padding: 10px 5px;
}
/* line 38, ../../sass/solarized-dark.scss */
.highlight .err {
  color: #dc322f !important;
  background-color: #073642 !important;
}
/* line 44, ../../sass/solarized-dark.scss */
.highlight .cp {
  color: #586e75 !important;
  font-weight: bold           !important;
}
/* line 50, ../../sass/solarized-dark.scss */
.highlight .cs {
  color: #586e75 !important;
  font-weight: bold           !important;
  font-style: italic         !important;
}
/* line 57, ../../sass/solarized-dark.scss */
.highlight .gd {
  color: #839496 !important;
  background-color: #fdd      !important;
}
/* line 63, ../../sass/solarized-dark.scss */
.highlight .gd .x {
  background-color: #faa       !important;
}
/* line 68, ../../sass/solarized-dark.scss */
.highlight .ge {
  font-style: italic           !important;
}
/* line 73, ../../sass/solarized-dark.scss */
.highlight .gi {
  background-color: #dfd       !important;
}
/* line 78, ../../sass/solarized-dark.scss */
.highlight .gi .x {
  background-color: #afa       !important;
}
/* line 83, ../../sass/solarized-dark.scss */
.highlight .go {
  color: #839496 !important;
}
/* line 88, ../../sass/solarized-dark.scss */
.highlight .gu {
  color: #d33682 !important;
  font-weight: bold           !important;
}
/* line 94, ../../sass/solarized-dark.scss */
.highlight .gs {
  font-weight: bold            !important;
}
/* line 99, ../../sass/solarized-dark.scss */
.highlight .gr, .highlight .gt {
  color: #d33682 !important;
}
/* line 104, ../../sass/solarized-dark.scss */
.highlight .gh {
  color: #586e75 !important;
}
/* line 109, ../../sass/solarized-dark.scss */
.highlight .gp {
  color: #586e75 !important;
}
/* line 114, ../../sass/solarized-dark.scss */
.highlight .nb {
  color: #859900 !important;
}
/* line 119, ../../sass/solarized-dark.scss */
.highlight .ni {
  color: #d33682 !important;
}
/* line 124, ../../sass/solarized-dark.scss */
.highlight .nt {
  color: #268bd2 !important;
}
/* line 129, ../../sass/solarized-dark.scss */
.highlight .w {
  color: #586e75 !important;
}
/* line 134, ../../sass/solarized-dark.scss */
.highlight .sr {
  color: #859900 !important;
}
/* line 139, ../../sass/solarized-dark.scss */
.highlight .ss {
  color: #2aa198 !important;
}
/* line 144, ../../sass/solarized-dark.scss */
.highlight .c, .highlight .cm, .highlight .c1 {
  color: #586e75 !important;
  font-style: italic            !important;
}
/* line 150, ../../sass/solarized-dark.scss */
.highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .o, .highlight .ow {
  font-weight: bold            !important;
}
/* line 154, ../../sass/solarized-dark.scss */
.highlight .k {
  color: #859900 !important;
}
/* line 159, ../../sass/solarized-dark.scss */
.highlight .kt {
  color: #b58900 !important;
}
/* line 164, ../../sass/solarized-dark.scss */
.highlight .bp {
  color: #93a1a1 !important;
}
/* line 169, ../../sass/solarized-dark.scss */
.highlight .nn {
  color: #93a1a1 !important;
}
/* line 174, ../../sass/solarized-dark.scss */
.highlight .nc {
  color: #b58900 !important;
  font-weight: bold           !important;
}
/* line 180, ../../sass/solarized-dark.scss */
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
  color: #2aa198 !important;
}
/* line 185, ../../sass/solarized-dark.scss */
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s1 {
  color: #2aa198 !important;
}
/* line 190, ../../sass/solarized-dark.scss */
.highlight .na, .highlight .nv {
  color: #2aa198 !important;
}
/* line 195, ../../sass/solarized-dark.scss */
.highlight .no {
  color: #b58900 !important;
}
/* line 200, ../../sass/solarized-dark.scss */
.highlight .vc, .highlight .vg, .highlight .vi {
  color: #268bd2 !important;
}
/* line 206, ../../sass/solarized-dark.scss */
.highlight .ne,
.highlight .nf {
  color: #dc322f !important;
  font-weight: bold           !important;
}

/* line 3, ../../sass/class.scss */
.pull-left {
  float: left;
}

/* line 4, ../../sass/class.scss */
.pull-right {
  float: right;
}

/* line 5, ../../sass/class.scss */
.center {
  margin: 0 auto;
}

/* line 6, ../../sass/class.scss */
.clear {
  clear: both;
}

/* line 9, ../../sass/class.scss */
.wrapper {
  width: 960px;
  margin-top: 30px;
}

/* line 14, ../../sass/class.scss */
.content {
  width: 960px;
  min-height: 200px;
}

/* line 19, ../../sass/class.scss */
.post {
  width: 960px;
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  border-bottom: 1px dotted #7abac2;
}

/* line 26, ../../sass/class.scss */
.post-header {
  margin: 0 0 10px 0;
}

/* line 30, ../../sass/class.scss */
.title {
  margin: 0 0 5px 0;
  color: #333333;
  font-size: 40px;
}

/* line 38, ../../sass/class.scss */
.social {
  width: 200px;
  margin: 30px 0 0 0;
}

/* line 43, ../../sass/class.scss */
.social div {
  width: 200px;
  height: 20px;
  margin: 0 20px 10px 0;
}

@font-face {
  font-family: 'PTSansNarrowBold';
  src: url("../fonts/pt_sans-narrow-web-bold-webfont.eot");
  src: url("../fonts/pt_sans-narrow-web-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pt_sans-narrow-web-bold-webfont.woff") format("woff"), url("../fonts/pt_sans-narrow-web-bold-webfont.ttf") format("truetype"), url("../fonts/pt_sans-narrow-web-bold-webfont.svg#pt_sans_narrowbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSansNarrow';
  src: url("../fonts/pt_sans-narrow-web-regular-webfont.eot");
  src: url("../fonts/pt_sans-narrow-web-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pt_sans-narrow-web-regular-webfont.woff") format("woff"), url("../fonts/pt_sans-narrow-web-regular-webfont.ttf") format("truetype"), url("../fonts/pt_sans-narrow-web-regular-webfont.svg#pt_sans_narrowregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 6, ../../sass/style.scss */
::selection {
  background: #93e1ec;
}

/* line 9, ../../sass/style.scss */
::-webkit-selection {
  background: #93e1ec;
}

/* line 12, ../../sass/style.scss */
::-moz-selection {
  background: #93e1ec;
}

/* line 15, ../../sass/style.scss */
body {
  background: #93e1ec;
  color: #335458;
  font-family: PTSansNarrow;
}
/* line 22, ../../sass/style.scss */
body a, body:visited {
  text-decoration: none;
  font-family: PTSansNarrow;
}
/* line 27, ../../sass/style.scss */
body a:hover, body:visited:hover {
  color: #93e1ec;
}
/* line 32, ../../sass/style.scss */
body header {
  width: 960px;
  min-height: 80px;
  margin: 0 0 50px 0;
}
/* line 36, ../../sass/style.scss */
body header section {
  width: 192px;
  font-family: PTSansNarrow;
  font-weight: bold;
  font-size: 70px;
}
/* line 43, ../../sass/style.scss */
body header section h1 {
  line-height: 80px;
}
/* line 48, ../../sass/style.scss */
body header nav ul {
  line-height: 80px;
}
/* line 50, ../../sass/style.scss */
body header nav ul li {
  display: inline;
}
/* line 52, ../../sass/style.scss */
body header nav ul li a, body header nav ul li:visited {
  padding: 10px 20px;
  color: #335458;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 22px;
  font-weight: bold;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  transition: all 1s ease-in-out;
}
/* line 65, ../../sass/style.scss */
body header nav ul li a:hover, body header nav ul li:visited:hover {
  color: #93e1ec;
  background: #335458;
}
/* line 76, ../../sass/style.scss */
body section article p {
  text-indent: 40px;
  line-height: 27px;
  font-size: 20px;
}
/* line 83, ../../sass/style.scss */
body section article a {
  color: #333333;
}
/* line 85, ../../sass/style.scss */
body section article a:hover {
  color: #335458;
}
/* line 90, ../../sass/style.scss */
body section article header time {
  font-size: 20px;
}
